.message-history {
   background-color: #f7f7f7;
   padding: 20px;
   width: 95%;
   display: block;
   box-shadow: 0 5px 15px -5px rgba(0, 0, 0, 0.1);


   h2 {
     margin: 0;
     padding: 0;
   }
}
